.ui-section{

display:flex;

flex-direction:column;

gap:20px;

margin-bottom:28px;

}

.ui-section-header{

display:flex;

justify-content:space-between;

align-items:center;

gap:20px;

flex-wrap:wrap;

}

.ui-section-header h2{

margin:0;

font-size:1.45rem;

}

.ui-section-header p{

margin-top:6px;

opacity:.7;

}

.ui-section-body{

display:flex;

flex-direction:column;

gap:20px;

}